.cpevent-time-input.error { 
	border:#cc0000 1px solid; 
}

div.time-picker {  
	position: absolute; 
	height: 191px; 
	width:4.5em; /* needed for IE */ 
	overflow: auto; 
	background: #fff; 
	border: 1px solid #aaa; 
	z-index: 1099; 
	margin: 0; 
}

div.time-picker-12hours { 
	width:6.5em; /* needed for IE */
}

div.time-picker ul {
	list-style-type: none;
	margin: 0; 
	padding: 0; 
}

div.time-picker li { 
	cursor: pointer;
	height: 10px; 
	font: 12px/1 Helvetica, Arial, sans-serif;
	padding: 4px 3px;
}

div.time-picker li.selected { 
	background: #0063CE; color: #fff; 
}

#event-form #event-name, #location-form, #location-name { margin: 2px 0 7px; padding: 6px 5px; width: 98%; }

div.cpevent-location-data table { float:left; margin:0px 15px 0px 0px;  }
	/* Location form */
		div.cpevent-location-data table.cpevent-location-data td, div.cpevent-location-data table.cpevent-location-data th { vertical-align:top; border:none; }
		div.cpevent-location-data table.cpevent-location-data { width:50%; float:left; border:none; }
		div.cpevent-location-data .cpevent-location-map-container, div.cpevent-location-data .cpevent-location-map-404, div.cpevent-location-data .cpevent-location-map-content { width: 400px; height: 300px; float:left; }
		div.cpevent-location-data .cpevent-location-map-404 { vertical-align:middle; text-align: center; }
		
.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}

.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}

